.founders p::before {
  content: "•";
  color: red;
  width: 30px;
  margin-left: -30px;
  position: absolute;
  font-size: 30px;
}
.founders p {
  margin-left: 160px;
  padding: 10px;
}
.founders h5 {
  color: black;
  margin-left: 160px;
  font-size: 15px;
}
.partners p::before {
  content: "•";
  color: red;
  width: 30px;
  margin-left: -30px;
  position: absolute;
  font-size: 30px;
}
.partners p {
  margin-left: 160px;
  padding: 10px;
}
.partners h5 {
  margin-left: 160px;
  font-size: 15px;
}
.line {
  width: 6vw;
  height: 1px;
  margin-left: 160px;
  background-color: black;
}

.img {
  margin-left: 160px;
  border: 0;
  vertical-align: middle;
  display: inline-block;
  padding: 10px 10px 10px 10px;
}
.image img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.pass {
  display: flex;
  flex-direction: row;
}
.txt p {
  margin-top: 0;
  margin-bottom: 20px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
