* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.hero_slide {
  color: white;
  border-radius: 20px 0 0 0px;
  background-color: #5101a0;
  /*padding: 14.286vw 7.143vw 14.286vw 10.714vw;*/
  padding: 220px 190px 220px 220px;
}
.hero_slide h1 {
  font-weight: bold;
  font-size: 48px;
  padding: 0 30px 0 30px;
}
.hero {
  display: flex;
  flex-direction: row;
  margin-left: 160px;
}
#myvideo {
  width: 59vw;
  position: relative;
  height: 60vh;
  object-fit: fill;
}
video::-webkit-media-controls {
  display: none;
}
.brand_adv {
  overflow: hidden;
}
.search input {
  outline: none;
  border: 2px solid white;
  background-color: #d8d6db00;
  color: white;
  padding: 30px 356px 30px 40px;
  border-radius: 10px;
  background-color: transparent;
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}
.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*.search input {
  background: transparent;
  border: none;
  height: 76px;
  margin-bottom: 0;
  padding-right: 50px;
  padding-left: 30px;
  border-radius: 10px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  line-height: 100%;
  font-weight: 800;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 34px 16px;
  color: white;
  text-decoration: none;
  height: 40px;
  width: 500px;
  border: 4px solid white;
  border-radius: 10px;
}*/
@media (max-width: 720px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 100px;
  }
  .hero_slide {
    width: 100%;
    padding: 300px 30px 200px 30px;
  }
  .hero_slide h1 {
    font-weight: bold;
    font-size: 38px;
    padding: 0 50px 20px 50px;
  }
  .brand_adv {
    overflow: hidden;
    width: 100%;
  }
  .search input {
    padding: 30px 180px 30px 20px;
  }
}
@media (max-width: 480px) {
  .hero {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .hero_slide h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 0 5 10px 20px 50px;
  }
  .hero_slide {
    width: 100%;
    padding: 250px 30px 170px 30px;
  }
  .hero_slide {
    width: 100%;
  }
  .brand_adv {
    overflow: hidden;
    width: 100%;
  }
}
