.navbar {
  height: 100%;
  width: 155px;
  display: flex;
  position: fixed;
  top: 0%;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
}
.menu {
  padding: 25px 70px 60px 60px;
}
.logo {
  padding: 130px 45px 130px 45px;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
