.navbar {
  height: 80%;
  width: 155px;
  display: flex;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0;
  bottom: 280px;
  flex-direction: column;
  background-color: white;
  box-sizing: border-box;
  border-radius: 5px;
}
.menu {
  padding: 25px 70px 60px 60px;
}
.logo {
  padding: 130px 5px 0px 45px;
}
