* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cards-section {
  margin-left: 160px;
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-gap: 10px;
  top: 10px;
  gap: 10px;
}
.ceo img {
  width: 100%;
  /* transition: transform 0.2s; */
}
/* .ceo img:hover {
  transform: scale(0.9);
} */
.section-one {
  grid-area: sone;
  margin: 8px;
}
.crowdlogo p {
  padding: 20px;
  font-size: 18px;
  color: white;
  border-top: 1px solid white;
}

.section-two {
  grid-area: stwo;
  margin: 10px;
  display: flex;
  flex-direction: row;
  background-color: #f0f4fb;
  padding: 30px;
}
.note-worth {
  box-sizing: border-box;
  border-right: 1px solid #ee495f;
  padding: 50px;
}
.note-carusel {
  width: 250px;
  padding: 30px 10px 30px 10px;
}
.note-wrap h4 {
  color: #ee495f;
  font-size: 16px;
  text-decoration: none;
}
.note-wrap {
  display: flex;
  flex-direction: row;
}
.note-wrap a {
  text-decoration: none;
}
.section-two h3 {
  color: #ee495f;
  font-size: 30px;
  line-height: 116%;
  font-weight: 400;
}
.section-three {
  grid-area: sthree;
  text-decoration: none;
  margin: 10px;
}
.slacktext img {
  padding: 20px 90px 15px 0;
  border-bottom: 1px solid white;
}
.slacktext p {
  font-size: 18px;
  color: white;
}
.slacktext {
  position: absolute;
  text-align: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #4a154b;
  padding: 60px;
}
.slack_ceo img {
  transition: transform 0.2s;
}
.slack_ceo img:hover {
  transform: translate3d(0%, 0px, 0px) scale3d(1, 1, 1) rotateX(1deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
}
.slack_ceo {
  position: relative;
  height: 100%;
}
.slack_ceo a {
  text-decoration: none;
}
.section-four {
  grid-area: sfour;
  margin: 15px;
}
.segment {
  position: absolute;
  text-align: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: hsla(269.30232558139534, 75.44%, 11.18%);
  padding: 60px;
}
.segment_ceo {
  position: relative;
  width: 100%;
}
.segment p {
  font-size: 20px;
  color: white;
  padding: 10px;
  margin-top: 10px;
  line-height: 20px;
}
.segment a {
  text-decoration: none;
}
.segment img {
  padding: 20px 90px 15px 0;
  border-bottom: 1px solid #51be94;
}
.section-five {
  grid-area: sfive;
  margin: 10px;
}
.fbceo {
  position: relative;
  height: 100%;
}
.facebook {
  position: absolute;
  text-align: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #347aea;
  padding: 60px;
  object-fit: cover;
}
.facebook img {
  padding: 20px 190px 25px 0;
  border-bottom: 1px solid white;
}
.facebook a {
  color: white;
  text-decoration: none;
}
.facebook p {
  font-size: 20px;
}
.section-six {
  grid-area: ssix;
  margin: 10px;
}
.jetceo {
  position: relative;
  height: 100%;
}
.jet {
  position: absolute;
  text-align: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #f0e0ff;
  padding: 60px;
  object-fit: cover;
}
.jet img {
  padding: 20px 190px 25px 0;
  border-bottom: 1px solid #4a0090;
}
.jet p {
  font-size: 20px;
  color: #4a0090;
  padding-top: 18px;
}
.jet a {
  text-decoration: none;
}
.section-seven {
  grid-area: sseven;
  margin: 10px;
}
.couchbase {
  position: relative;
  height: 100%;
}
.couchlogo {
  position: absolute;
  text-align: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #f3f3f3;
  padding: 60px;
}
.couchlogo img {
  padding: 20px 30px 25px 0;
  border-bottom: 1px solid #ea2327;
}
.couchlogo p {
  font-size: 20px;
  color: hsla(211.30434782608697, 46.94%, 9.61%, 1);
}
a {
  text-decoration: none;
}
.section-eight {
  grid-area: seight;
  background-color: #f0f4fb;
  margin-top: 10px;
  padding: 60px;
}
.seed {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.scale button {
  display: inline-block;
  padding: 9px 15px;
  border: 1px solid #5101a0;
  border-radius: 10px;
  background-color: transparent;
  color: #5101a0;
}
.seed {
  display: flex;
  justify-content: space-between;
}
.seed h2 {
  font-size: 30px;
}
.section-nine {
  grid-area: snine;
  display: flex;
  margin-top: 6px;
  flex-direction: row;
}
.uipath {
  position: relative;
}
.uipathlogo {
  background-color: #fa4616;
  padding: 40px;
}
.uipathlogo img {
  padding: 10px;
}
.uipathlogo p {
  border-top: 1px solid white;
  padding: 10px;
  font-size: 16px;
  color: white;
}
.section-ten {
  grid-area: sten;
  display: flex;
  margin-top: 6px;
  flex-direction: row;
}
.etsy {
  background-color: rgb(241, 102, 30);
  padding: 40px;
}

.etsy p {
  color: white;
  font-size: 16px;
  border-top: 1px solid white;
  padding-top: 12px;
}
.section-eleven {
  grid-area: seleven;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  padding: 80px;
  gap: 20px;
  margin-top: 10px;
  background-color: #f0f4fb;
}
.community p {
  font-size: 30px;
}
.heading_button button {
  border: 2px solid #5101a0;
  background: transparent;
  font-size: 12px;
  border-radius: 20px;
  padding: 8px 15px 8px 15px;
  align-items: center;
  color: #5101a0;
}
button img {
  padding-left: 10px;
}
.section-twelve {
  grid-area: stwelve;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
}
.arista {
  padding: 60px;
  background-color: rgb(73, 180, 255);
}
.arista img {
  padding-bottom: 10px;
}
.arista p {
  font-size: 18px;
  color: white;
  padding-top: 20px;
  border-top: 1px solid #1c3358;
}
.section-thirten {
  grid-area: sthirten;
  display: flex;
  margin-top: 10px;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 60px;
  align-items: center;
  padding: 80px;
  margin-top: 10px;
  background-color: #f0f4fb;
}
.accelatoms_logo img {
  margin-bottom: 20px;
}
.more_button button {
  border: 2px solid #5101a0;
  background: transparent;
  font-size: 12px;
  border-radius: 10px;
  padding: 6px 12px 6px 12px;
  align-items: center;
  color: #5101a0;
}
.section-fourten {
  grid-area: sfourten;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.user p {
  color: white;
  font-size: 15px;
  border-top: 1px solid white;
  padding-top: 10px;
}
.user {
  padding: 60px;
  background-color: rgb(49, 92, 253);
}
.section-fifeten {
  grid-area: sfifeten;
  margin-top: 7px;
  display: flex;
  flex-direction: row;
}
.drop {
  padding: 60px;
  background-color: rgb(3, 174, 236);
}
.drop p {
  color: white;
  font-size: 15px;
  border-top: 1px solid white;
  padding-top: 10px;
}
.section-sixten {
  grid-area: ssixten;
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}
.sumologo {
  background-color: #0047be;
  padding: 70px;
}
.sumologo p {
  color: white;
  font-size: 14px;
  border-top: 1px solid white;
  padding-top: 10px;
}
.section-seventen {
  grid-area: sseventen;
  display: flex;
  flex-direction: row;
  margin-top: 6px;
}
.cloud {
  padding: 70px;
  background-color: rgb(240, 137, 51);
}
.cloud p {
  color: white;

  font-size: 18px;
  border-top: 1px solid white;
  padding-top: 10px;
}

@media (max-width: 720px) {
  .cards-section {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    top: 10px;
    gap: 10px;
  }
  .ceo img {
    width: 73.5%;
  }
  .section-eight {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-nine {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-ten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-eleven {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-twelve {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-thirten {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-fourten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-fifeten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-sixten {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .sumo img {
    width: 100%;
  }
  .section-seventen {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
}
@media (max-width: 480px) {
  .cards-section {
    margin-left: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    top: 10px;
    gap: 10px;
  }
  .ceo {
    width: 430px;
  }
  .section-eight {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-nine {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-ten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-eleven {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-twelve {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-thirten {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-fourten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-fifeten {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
  .section-sixten {
    display: flex;
    flex-direction: column;
    width: 73.5%;
  }
  .section-seventen {
    display: flex;
    flex-direction: column-reverse;
    width: 73.5%;
  }
}
