* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.accel_atoms {
  width: 1357px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  left: 160px;

  padding: 40px 120px;
  background-color: #f8f1ff;
  color: #5101a0;
  box-sizing: border-box;
  border-radius: 30px 0 0 30px;
  text-decoration: none;
}
.atom_content p {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  line-height: 116%;
  font-weight: 400;
  padding-top: 30px;
}
hr {
  margin-top: 14px;
  margin-right: 900px;
}
.readbutton button {
  display: inline-block;
  padding: 9px 15px;
  border: 1px solid #5101a0;
  border-radius: 10px;
  background-color: transparent;
  color: #5101a0;
  font-size: 9px;
  line-height: 133%;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
}
.readbutton :hover {
  background-color: white;
}
