* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.down-bar {
  width: 90%;
  padding: 70px;
  margin-left: 160px;
  background-color: #270157;
}
.part-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.part-2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.phrase-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 30px 0 30px;
}
.phrase a {
  border-left: 1px solid white;
  padding-left: 10px;
  color: white;
  font-size: 12px;
}
.footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-evenly;
}
.footer h1 {
  font-size: 40px;
  color: white;
}
.part-2 h6 {
  color: white;
  font-size: 12px;
}
@media (max-width: 720px) {
  .down-bar {
    margin-left: 50px;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .phrase-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
@media (max-width: 480px) {
  .down-bar {
    margin-left: 50px;
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }
  .phrase-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
