* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.company_logo {
  padding: 30px;
  width: 1357px;
  position: relative;
  left: 160px;
  align-content: space-around;
  background-color: #0d1824;
  border-radius: 0 0 0 30px;
}
